body {
	/*color: #696969;*/
	font-family: 'Catamaran', sans-serif;
	font-size: 16pt;
	font-weight: 500;
	color: #FF3D2E;
}

header {
	background-image: url("file:///Users/Gin/Desktop/ginhodge.github.io/unit_6/images/background-grey-white.jpg");
	background-size: cover;
	overflow: hidden;
	width: 100%;
}

h1 {
	font-size: .75em;
	padding: 0px 26px;
	font-weight: 500;
	float: left;
	width: 30%;
}

#navbar {
	padding: 30px 0px 0px 0px;
	width: 100%;
}

li {
	text-decoration: none;
	display: inline;
	width: 25%;
	padding: 0px 26px;
	font-size: .75em;
}

.navlink {
	color: #FF3D2E;
	float: right;
	padding: 0 10px;
	text-decoration: none;
	font-size: 0.8em
}

#navlink:hover {
	color: #404040;
}

#hello {
	font-size: 4em;
	font-weight: 800;
	margin: 0;
}

.para {
	font-size: 1em;
	margin: 0px 0px 150px 0px;
}

#intro {
	padding: 0px 0px 0px 30px;
	width: 35%;
}

#images {
	clear: both;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

#placeholder {
	width: 50%;
	margin: 0;
	padding: 0;
	float:left;
}

#placeholder:hover {
	opacity: .5;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

footer {
	clear: both;
	font-size: 0.5em;
	font-weight: bold;
	margin: 10px 5px;
	text-align: right;
	color: #696969;
	width: 100%;
	height: 30px;

}

#bygin {
	margin: 20px;
}

@media screen only and (min-width: 746px) {

body {
font-size: 4pt;
}
h1 {
	color: pink;
}

}