body {
	color: #404040;
	font-family: 'Catamaran', sans-serif;
	margin: 40px 0px;
}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

li {
	display: inline;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
}

nav {
	background-color: [enter color here];
    border: 1px black solid;
    padding: 20px;
	margin: auto;
	text-align: center;
}

#work {
	padding: 0px 10px;
}

.logo {
	display: block;
	margin: auto;
	text-align: center;
	max-height: 50px; 
}

h1 {
	font-weight: 700;
	font-family: 'Unna', serif;
	font-size: 15pt;
	font-weight: 800;
	text-align: center;
}

#slogan {
	font-size: 12pt;
	text-align: center;
}

/*hr {
	height: 2px;
	width: 70px;
	background-color: #404040;
}*/

#images {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
	text-align: center;
	margin: 0 auto;
	display: block;
	overflow: hidden;
}

#placeholder {
	margin: auto;
	float: left;
	max-height: 33.3%;
	max-width: 33.3%;
}

footer {
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
	font-size: 8pt;
	float: right;
	bottom: 0px;
	margin: 5px 15px;
}

a {
	text-decoration: none;
}

span {
	font-weight: bold;
}